<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.netifera.platform.ui.category.general"
            class="com.netifera.platform.ui.navigator.NavigatorView"
            icon="icons/navigator.png"
            id="com.netifera.platform.views.navigator"
            name="Navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.netifera.platform.ui.perspectives.explore">
         <view
               id="com.netifera.platform.views.navigator"
               minimized="false"
               ratio="0.20"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <viewShortcut id="com.netifera.platform.views.navigator"/>
         <view
               id="com.netifera.platform.views.navigator"
               minimized="false"
               ratio="0.20"
               relationship="fast"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
