<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.netifera.platform.ui.category.visualizations"
            class="com.netifera.platform.ui.treemap.TreeMapView"
            icon="icons/treemap.png"
            id="com.netifera.platform.views.treemap"
            name="Tree Map"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.netifera.platform.ui.perspectives.explore">
         <viewShortcut id="com.netifera.platform.views.treemap"/>
<!-- WTF if i put this two views layouts in two different plugins it doesnt work,
		i had to put them together in this plugin to make it work properly -->
         <view
               id="com.netifera.platform.views.treemap"
               ratio="0.55"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="com.netifera.platform.views.flatworld"
               ratio="0.55"
               relationship="bottom"
               relative="com.netifera.platform.views.treemap">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="*">
         <viewShortcut id="com.netifera.platform.views.treemap"/>
         <view
               id="com.netifera.platform.views.treemap"
               ratio="0.55"
               relationship="fast"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
