<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.netifera.platform.ui.category.visualizations"
            class="com.netifera.platform.ui.flatworld.FlatWorldView"
            icon="icons/world.png"
            id="com.netifera.platform.views.flatworld"
            name="World"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.netifera.platform.ui.perspectives.internet">
         <viewShortcut id="com.netifera.platform.views.flatworld"/>
      </perspectiveExtension>
   </extension>

</plugin>
