<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.netifera.platform.ui.spaces.editor.SpaceEditor"
            default="false"
            icon="icons/space.png"
            id="com.netifera.platform.editors.spaces"
            contributorClass="com.netifera.platform.ui.spaces.editor.SpaceEditorActionBarContributor"
            name="Space Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.netifera.platform.actionSet.spaces"
            label="Spaces Action Set"
            visible="true">
         <action
               class="com.netifera.platform.ui.spaces.actions.ExportDelegate"
               definitionId="com.netifera.platform.commands.spaceExport"
               icon="icons/space_export.gif"
               id="com.netifera.platform.actions.spaceExport"
               label="Export"
               style="push"
               toolbarPath="Normal">
         </action>
         <action
               class="com.netifera.platform.ui.spaces.actions.ImportDelegate"
               definitionId="com.netifera.platform.commands.spaceImport"
               icon="icons/space_import.gif"
               id="com.netifera.platform.actions.spaceImport"
               label="Import"
               style="push"
               toolbarPath="Normal">
         </action>
         <action
               class="com.netifera.platform.ui.spaces.actions.NewIsolatedSpaceDelegate"
               definitionId="com.netifera.platform.commands.newIsolatedSpace"
               icon="icons/add_space_isolated.png"
               id="com.netifera.platform.actions.newIsolatedSpace"
               label="New Isolated Space"
               style="push"
               toolbarPath="Normal">
         </action>
         <action
               class="com.netifera.platform.ui.spaces.actions.NewSpaceDelegate"
               definitionId="com.netifera.platform.commands.newSpace"
               icon="icons/add_space.png"
               id="com.netifera.platform.actions.newSpace"
               label="New Space"
               style="push"
               toolbarPath="Normal">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.netifera.platform.commands.newSpace"
            name="New Space">
      </command>
      <command
            id="com.netifera.platform.commands.newIsolatedSpace"
            name="New Isolated Space">
      </command>
      <command
            id="com.netifera.platform.commands.spaceImport"
            name="Import">
      </command>
      <command
            id="com.netifera.platform.commands.spaceExport"
            name="Export">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.netifera.platform.commands.newSpace"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="com.netifera.platform.commands.newIsolatedSpace"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.netifera.platform.ui.spaces.ElementFactory"
            id="com.netifera.platform.spaceElementFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.netifera.platform.ui.internal.spaces.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
   </extension>

</plugin>
